@import '../../../../index.scss';

.center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.titleText {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  line-height: 65.63px;
  text-align: left;
  margin: 5px;
  color: $primery-black;
}
.titleText2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin: 5px;
  line-height: 65.63px;
  text-align: left;
  color: #0ec261;
}

.textCenterText {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
  font-size: 26px;
  line-height: 30.47px;
  text-align: left;
  color: $primery-gray;
}

.btnCenterText {
  font-family: 'Roboto', sans-serif;
  background: $primery-color;
  width: 250px;
  height: 48px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(90%);
  }
}

@media screen and (max-width: 320px) and (max-width: 767px) {
  .center {
    margin: 0;
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
  .titleText {
    font-size: 32px;
    margin: 0 10px;
    line-height: normal;
  }
  .titleText2 {
    font-size: 32px;
    margin: 0 10px;
    line-height: normal;
  }
  .textCenter {
    height: 43px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 48px;
  }
  .textCenterText {
    font-size: 19px;
    margin: 0 10px;
    line-height: normal;
  }
  .btnCenter {
    width: 320px;
    height: 50px;
    margin-bottom: 147px;
  }
  .btnCenterText {
    font-size: 18px;
    border-radius: 0;
    width: 100%;
  }
}
