.breadCrambModelCar {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
  gap: 40px;
}
.circle,
.activeCircle {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.activeCircle {
  width: 8px;
  height: 8px;
  border: 3px solid #0ec261;
}

.allModel {
  display: flex;
  gap: 10px;
}

.allText,
.allTextBlack {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #999999;
  margin-top: 0;
}
.allTextBlack {
  color: #121212;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .breadCrambModelCar {
    display: block;
    margin-left: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .breadCrambModelCar {
    margin-left: 35px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) and (max-height: 811px) {
}
