.containerModelCar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.wrapperCenterModelCar {
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.wrapperModelCar {
  width: 100%;
}
.hmContainerModel {
  height: 115vh;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapperCenterModelCar {
    flex-direction: column;
  }
  .containerModelCar {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .containerModelCar {
    width: 768px;
  }
  .wrapperModelCar {
    width: 683px;
  }
  .wrapperCenterModelCar {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .hmContainerModel {
    height: 135vh;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) and (max-height: 811px) {
}
